<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.vehiclepass.dal.mysql.inspectmgmt.resulthandle.ResultHandleMapper">

    <select id="selectPageJoin" resultType="cn.iocoder.yudao.module.vehiclepass.controller.admin.inspectmgmt.resulthandle.vo.ResultHandleRespVO">
        SELECT
            r.id AS id,
            r.task_id AS taskId,
            r.violation_type AS violationType,
            r.handle_method AS handleMethod,
            r.handle_type AS handleType,
            r.status AS status,
            r.area_id AS areaId,
            a.name AS areaName,
            r.handle_user_id AS handleUserId,
            u.nickname AS handleUserName,
            r.handle_time AS handleTime,
            r.rectify_status AS rectifyStatus,
            r.reject_reason AS rejectReason,
            r.remark AS remark,
            r.reserve1 AS reserve1,
            r.reserve2 AS reserve2,
            r.creator AS creator,
            r.updater AS updater,
            r.create_time AS createTime,
            r.update_time AS updateTime
        FROM result_handle r
        LEFT JOIN area_info a ON r.area_id = a.id AND a.deleted = 0
        LEFT JOIN user_info u ON r.handle_user_id = u.id AND u.deleted = 0
        WHERE r.deleted = 0
        <if test="reqVO.taskId != null">
            AND r.task_id = #{reqVO.taskId}
        </if>
        <if test="reqVO.violationType != null and reqVO.violationType != ''">
            AND r.violation_type = #{reqVO.violationType}
        </if>
        <if test="reqVO.handleMethod != null and reqVO.handleMethod != ''">
            AND r.handle_method = #{reqVO.handleMethod}
        </if>
        <if test="reqVO.status != null and reqVO.status != ''">
            AND r.status = #{reqVO.status}
        </if>
        <if test="reqVO.areaId != null">
            AND r.area_id = #{reqVO.areaId}
        </if>
        <if test="reqVO.handleUserId != null">
            AND r.handle_user_id = #{reqVO.handleUserId}
        </if>
        <if test="reqVO.handleTimeNew != null and reqVO.handleTimeNew.length == 2">
            AND r.handle_time BETWEEN FROM_UNIXTIME(#{reqVO.handleTimeNew[0]}) AND FROM_UNIXTIME(#{reqVO.handleTimeNew[1]})
        </if>
        <if test="reqVO.rectifyStatus != null and reqVO.rectifyStatus != ''">
            AND r.rectify_status = #{reqVO.rectifyStatus}
        </if>
        <if test="reqVO.remark != null and reqVO.remark != ''">
            AND r.remark LIKE CONCAT('%', #{reqVO.remark}, '%')
        </if>
        ORDER BY r.id DESC
    </select>

</mapper>