<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.vehiclecharging.dal.mysql.ratesetting.RateSettingMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <!-- 分页列表 -->
    <select id="getPage" resultType="cn.iocoder.yudao.module.vehiclecharging.controller.admin.ratesetting.vo.RateSettingRespVO">
        SELECT
        t.id,
        t.rate_code,
        t.rate_name,
        t.apply_scene,
        t.rate_rule,
        t.effect_time,
        t.expire_time,
        t.apply_station,
        t.apply_group,
        t.rate_status,
        t.remark,
        t.reserve1,
        t.reserve2,
        t.create_time,
        t.update_time,
        t.creator,
        t.updater,
        IFNULL(GROUP_CONCAT(s.station_name SEPARATOR '，'), '') AS station_names
        FROM rate_setting t
        LEFT JOIN charging_station s ON FIND_IN_SET(s.id, t.apply_station)
        <where>
            1=1 and t.deleted = 0
            <if test="rateCode != null and rateCode != ''">
                AND t.rate_code LIKE CONCAT('%', #{rateCode}, '%')
            </if>
            <if test="rateName != null and rateName != ''">
                AND t.rate_name LIKE CONCAT('%', #{rateName}, '%')
            </if>
            <if test="applyScene != null and applyScene != ''">
                AND t.apply_scene LIKE CONCAT('%', #{applyScene}, '%')
            </if>
            <if test="rateRule != null and rateRule != ''">
                AND t.rate_rule LIKE CONCAT('%', #{rateRule}, '%')
            </if>
            <if test="rateStatus != null and rateStatus != ''">
                AND t.rate_status = #{rateStatus}
            </if>
            <if test="applyStation != null and applyStation != ''">
                AND t.apply_station LIKE CONCAT('%', #{applyStation}, '%')
            </if>
            <if test="applyGroup != null and applyGroup != ''">
                AND t.apply_group LIKE CONCAT('%', #{applyGroup}, '%')
            </if>
            <if test="remark != null and remark != ''">
                AND t.remark LIKE CONCAT('%', #{remark}, '%')
            </if>
            <if test="reserve1 != null and reserve1 != ''">
                AND t.reserve1 LIKE CONCAT('%', #{reserve1}, '%')
            </if>
            <if test="reserve2 != null and reserve2 != ''">
                AND t.reserve2 LIKE CONCAT('%', #{reserve2}, '%')
            </if>

            <!-- ==================== 最终根治版 ==================== -->
            <!-- 生效时间 -->
            <if test="effectTime != null">
                AND t.effect_time >= #{effectTime}
            </if>
            <!-- 失效时间 -->
            <if test="expireTime != null">
                AND t.expire_time &lt;= #{expireTime}
            </if>

            <!-- 创建时间 -->
            <if test="createTime != null and createTime.length == 2">
                AND t.create_time BETWEEN #{createTime[0]} AND #{createTime[1]}
            </if>
            <!-- 创建时间（单独 startTime/endTime） -->
            <if test="startTime != null">
                AND t.create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY t.id
        ORDER BY t.id desc,t.id
        LIMIT #{pageSize} OFFSET ${(pageNo - 1) * pageSize}
    </select>

    <!-- 分页总数 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(DISTINCT t.id)
        FROM rate_setting t
        <where>
            1=1 and t.deleted = 0
            <if test="rateCode != null and rateCode != ''">
                AND t.rate_code LIKE CONCAT('%', #{rateCode}, '%')
            </if>
            <if test="rateName != null and rateName != ''">
                AND t.rate_name LIKE CONCAT('%', #{rateName}, '%')
            </if>
            <if test="applyScene != null and applyScene != ''">
                AND t.apply_scene LIKE CONCAT('%', #{applyScene}, '%')
            </if>
            <if test="rateRule != null and rateRule != ''">
                AND t.rate_rule LIKE CONCAT('%', #{rateRule}, '%')
            </if>
            <if test="rateStatus != null and rateStatus != ''">
                AND t.rate_status = #{rateStatus}
            </if>
            <if test="applyStation != null and applyStation != ''">
                AND t.apply_station LIKE CONCAT('%', #{applyStation}, '%')
            </if>
            <if test="applyGroup != null and applyGroup != ''">
                AND t.apply_group LIKE CONCAT('%', #{applyGroup}, '%')
            </if>
            <if test="remark != null and remark != ''">
                AND t.remark LIKE CONCAT('%', #{remark}, '%')
            </if>
            <if test="reserve1 != null and reserve1 != ''">
                AND t.reserve1 LIKE CONCAT('%', #{reserve1}, '%')
            </if>
            <if test="reserve2 != null and reserve2 != ''">
                AND t.reserve2 LIKE CONCAT('%', #{reserve2}, '%')
            </if>

            <!-- ==================== 最终根治版 ==================== -->
            <!-- 生效时间 -->
            <if test="effectTime != null">
                AND t.effect_time >= #{effectTime}
            </if>
            <!-- 失效时间 -->
            <if test="expireTime != null">
                AND t.expire_time &lt;= #{expireTime}
            </if>

            <if test="createTime != null and createTime.length == 2">
                AND t.create_time BETWEEN #{createTime[0]} AND #{createTime[1]}
            </if>
            <if test="startTime != null">
                AND t.create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    <select id="getRateSettingStatusCount"
            resultType="cn.iocoder.yudao.module.vehiclecharging.controller.admin.ratesetting.vo.chart.RateSettingStatusCountRespVO">
        select
            count(*) as totalRateCount,
            SUM(CASE WHEN t.rate_status = '已生效' THEN 1 ELSE 0 END) AS enableCount ,
            SUM(CASE WHEN t.rate_status = '未生效' THEN 1 ELSE 0 END) AS unEnableCount  ,
            SUM(CASE WHEN t.rate_status = '已失效' THEN 1 ELSE 0 END) AS disableCount   ,
            CASE WHEN count(*) = 0 THEN 0
                ELSE ROUND(SUM(CASE WHEN t.rate_status = '已生效' THEN 1 ELSE 0 END) / count(*) * 100, 1)
            END AS enableRatio
        from rate_setting t
        where t.deleted=0
        <if test="stationId != null">
            AND FIND_IN_SET(#{stationId}, t.apply_station)
        </if>
        <if test="startTime != null">
            AND t.create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            AND t.create_time &lt;= #{endTime}
        </if>
    </select>
    <select id="getRateSettingGradeCount"
            resultType="cn.iocoder.yudao.module.vehiclecharging.controller.admin.ratesetting.vo.chart.RateSettingGradeCountRespVO">
        select
            t.rate_name as gradeType,
            count(*) as count
        from rate_setting t
        where t.deleted=0
        <if test="stationId != null">
            AND FIND_IN_SET(#{stationId}, t.apply_station)
        </if>
        <if test="startTime != null">
            AND t.create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            AND t.create_time &lt;= #{endTime}
        </if>
        group by t.rate_name
    </select>

    <select id="getRateSettingStationCount"
            resultType="cn.iocoder.yudao.module.vehiclecharging.controller.admin.ratesetting.vo.chart.RateSettingStationCountRespVO">
        SELECT
        s.station_id as stationId,
        c.station_name as stationName,
        COUNT(*) AS rateCount
        FROM (
            -- 拆分 apply_station 逗号分隔的场站ID
            SELECT
            SUBSTRING_INDEX(SUBSTRING_INDEX(t.apply_station, ',', b.help_topic_id + 1), ',', -1) AS station_id
            FROM rate_setting t
            JOIN mysql.help_topic b
            ON b.help_topic_id &lt; (LENGTH(t.apply_station) - LENGTH(REPLACE(t.apply_station, ',', '')) + 1)
            WHERE t.deleted = 0
            <if test="startTime != null and startTime != ''">
                AND t.create_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND t.create_time &lt;= #{endTime}
            </if>
        ) s
        left join charging_station c
        on c.id = s.station_id
        WHERE s.station_id != ''
        AND s.station_id IS NOT NULL
        GROUP BY s.station_id,c.station_name
        ORDER BY s.station_id desc,c.station_name DESC
    </select>

</mapper>
