<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.stationresource.dal.mysql.stationresource.rulecontrol.feerule.FeeRuleMapper">
    <!-- ===================== 收费规则图表统计 ===================== -->
    <select id="selectCardData" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.feerule.vo.ops.FeeRuleChartRespVO$CardDataVO">
        SELECT
            IFNULL(COUNT(id), 0) AS enableRuleCount,
            IFNULL(avg(match_rate), 0) AS totalMatchRate
        FROM fee_rule
        WHERE deleted = 0
          AND status = '已生效'
    </select>
    <select id="selectStationBarList" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.feerule.vo.ops.FeeRuleChartRespVO$StationBarVO">
        SELECT
            s.name AS name,
            COUNT(f.id) AS value
        FROM fee_rule f
                 LEFT JOIN station_info s ON f.station_id = s.id
        WHERE f.deleted = 0
        GROUP BY f.station_id, s.name
    </select>
</mapper>
