<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.stationresource.dal.mysql.stationresource.areamgmt.areainfo.AreaInfoMapper">
    <select id="getPage" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.areamgmt.areainfo.vo.AreaInfoRespVO">
        SELECT
        a.*,
        su.nickname AS leaderName,
        bu.nickname AS bindUserName,
        COUNT(s.id) AS stationCount  <!-- 这里：实时统计场站数 -->
        FROM area_info a
        LEFT JOIN station_user su ON a.user_id = su.id AND su.deleted = 0
        LEFT JOIN station_user bu ON a.bind_user_id = bu.id AND bu.deleted = 0  <!-- 绑定人名称 -->
        LEFT JOIN station_info s ON a.id = s.area_id AND s.deleted = 0  <!-- 关联场站 -->
        WHERE a.deleted = 0

        <if test="pageReqVO.id != null">
            AND a.id = #{pageReqVO.id}
        </if>
        <if test="pageReqVO.userId != null">
            AND a.user_id = #{pageReqVO.userId}
        </if>
        <if test="pageReqVO.leaderName != null and pageReqVO.leaderName != ''">
            AND su.nickname LIKE CONCAT('%', #{pageReqVO.leaderName}, '%')
        </if>
        <if test="pageReqVO.areaNo != null and pageReqVO.areaNo != ''">
            AND a.area_no LIKE CONCAT('%', #{pageReqVO.areaNo}, '%')
        </if>
        <if test="pageReqVO.name != null and pageReqVO.name != ''">
            AND a.name LIKE CONCAT('%', #{pageReqVO.name}, '%')
        </if>
        <if test="pageReqVO.district != null and pageReqVO.district != ''">
            AND a.district LIKE CONCAT('%', #{pageReqVO.district}, '%')
        </if>
        <if test="pageReqVO.phone != null and pageReqVO.phone != ''">
            AND a.phone LIKE CONCAT('%', #{pageReqVO.phone}, '%')
        </if>
        <if test="pageReqVO.bindUserId != null">
            AND a.bind_user_id = #{pageReqVO.bindUserId}
        </if>
        <if test="pageReqVO.status != null and pageReqVO.status != ''">
            AND a.status = #{pageReqVO.status}
        </if>
        <if test="pageReqVO.remark != null and pageReqVO.remark != ''">
            AND a.remark = #{pageReqVO.remark}
        </if>
        <if test="pageReqVO.reserve1 != null and pageReqVO.reserve1 != ''">
            AND a.reserve1 = #{pageReqVO.reserve1}
        </if>
        <if test="pageReqVO.reserve2 != null and pageReqVO.reserve2 != ''">
            AND a.reserve2 = #{pageReqVO.reserve2}
        </if>
        <if test="pageReqVO.createTime != null and pageReqVO.createTime.size() == 2">
            AND a.create_time BETWEEN #{pageReqVO.createTime[0]} AND #{pageReqVO.createTime[1]}
        </if>

        <!-- 按片区分组 -->
        GROUP BY a.id

        <!-- 支持按【场站数量】筛选 -->
        <if test="pageReqVO.stationCount != null">
            HAVING COUNT(s.id) = #{pageReqVO.stationCount}
        </if>

        ORDER BY a.id DESC
    </select>

</mapper>
