<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.chargepark.marketop.dal.mysql.cardmgmt.StockControlMapper">

    <select id="selectListByTimeRange" resultType="cn.iocoder.yudao.module.chargepark.marketop.dal.dataobject.cardmgmt.StockControlDO">
        SELECT * FROM stock_control
        WHERE deleted = 0
          <if test="startTime != null">
              AND create_time &gt;= #{startTime}
          </if>
          <if test="endTime != null">
              AND create_time &lt;= #{endTime}
          </if>
          <if test="stationId != null">
              AND station_id = #{stationId}
          </if>
    </select>

    <select id="selectDistributionByType" resultType="cn.iocoder.yudao.module.chargepark.marketop.controller.admin.cardmgmt.stockcontrol.vo.StockControlChartRespVO$DistributionItem">
        SELECT sc.card_id AS cardId, cc.type AS type, COUNT(*) AS count
        FROM stock_control sc
        LEFT JOIN card_config cc ON sc.card_id = cc.id AND cc.deleted = 0
        WHERE sc.deleted = 0
          <if test="startTime != null">
              AND sc.create_time &gt;= #{startTime}
          </if>
          <if test="endTime != null">
              AND sc.create_time &lt;= #{endTime}
          </if>
          <if test="stationId != null">
              AND sc.station_id = #{stationId}
          </if>
        GROUP BY sc.card_id
    </select>

    <select id="selectStockTrend" resultType="java.util.Map">
        SELECT DATE(create_time) AS date, SUM(current_stock) AS count
        FROM stock_control
        WHERE deleted = 0
          <if test="startTime != null">
              AND create_time &gt;= #{startTime}
          </if>
          <if test="endTime != null">
              AND create_time &lt;= #{endTime}
          </if>
          <if test="stationId != null">
              AND station_id = #{stationId}
          </if>
        GROUP BY DATE(create_time)
        ORDER BY DATE(create_time) ASC
    </select>

    <select id="selectByCardIdAndStationId" resultType="cn.iocoder.yudao.module.chargepark.marketop.dal.dataobject.cardmgmt.StockControlDO">
        SELECT * FROM stock_control
        WHERE deleted = 0 AND card_id = #{cardId} AND station_id = #{stationId}
        LIMIT 1
    </select>

</mapper>
