<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.envirhealth.dal.mysql.roadcleaning.CleaningProblemMapper">

    <resultMap id="CleaningProblemDetailResultMap" type="cn.iocoder.yudao.module.envirhealth.dal.dataobject.roadcleaning.Detail.CleaningProblemDetailDO">
        <!-- 基础字段（继承 CleaningProblemDO） -->
        <id column="id" property="id"/>
        <result column="problem_id" property="problemId"/>
        <result column="plan_id" property="planId"/>
        <result column="problem_type_id" property="problemTypeId"/>
        <result column="location" property="location"/>
        <result column="report_by" property="reportBy"/>
        <result column="report_time" property="reportTime"/>
        <result column="desc" property="desc"/>
        <result column="team_id" property="teamId"/>
        <result column="handle_status" property="handleStatus"/>
        <result column="is_timeout" property="isTimeout"/>
        <result column="handle_result" property="handleResult"/>
        <result column="ext_common1" property="extCommon1"/>
        <result column="ext_common2" property="extCommon2"/>
        <result column="ext_common3" property="extCommon3"/>
        <result column="ext_common4" property="extCommon4"/>

        <!-- 关联查询的额外字段 -->
        <result column="plan_no" property="planNo"/>
        <result column="problem_type_name" property="problemTypeName"/>
        <result column="report_name" property="reportName"/>
        <result column="team_name" property="teamName"/>
    </resultMap>

    <select id="selectDetailPage" resultMap="CleaningProblemDetailResultMap">
        SELECT
            cp.*,
            rc.plan_no AS plan_no,
            spt.name AS problem_type_name,
            su.user_name AS report_name,
            st.name AS team_name
        FROM road_cleaning_problem cp
                 LEFT JOIN road_cleaning rc ON cp.plan_id = rc.cleaning_id AND rc.deleted = 0
                 LEFT JOIN sys_problem_type spt ON cp.problem_type_id = spt.sys_problem_type_id AND spt.deleted = 0
                 LEFT JOIN sys_user su ON cp.report_by = su.user_id AND su.deleted = 0
                 LEFT JOIN sys_team st ON cp.team_id = st.sys_team_id AND st.deleted = 0
        WHERE cp.deleted = 0
        ORDER BY cp.id DESC
        LIMIT #{reqVO.offset}, #{reqVO.pageSize}
    </select>


    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT rcp.id)
        FROM road_cleaning_problem rcp
        where rcp.deleted = 0
    </select>

</mapper>