<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.vehiclecharging.dal.mysql.abnormalorder.AbnormalOrderMapper">

    <select id="selectAbnormalOrderPage" resultType="cn.iocoder.yudao.module.vehiclecharging.controller.admin.abnormalorder.vo.NewAbnormalOrderRespVO">
        SELECT
        ao.id,
        ao.order_code AS orderCode,
        ol.id AS orderId,
        ol.plate_no AS plateNo,
        cs.station_name AS stationName,
        ao.abnormal_type AS abnormalType,
        UNIX_TIMESTAMP(ao.create_time) AS abnormalTime,
        ao.abnormal_status AS abnormalStatus,
        ao.check_user AS verifyUser,
        UNIX_TIMESTAMP(ao.check_time) AS verifyTime,
        ao.abnormal_reason AS verifyResult,
        ao.check_user AS handleUser,
        UNIX_TIMESTAMP(ao.handle_time) AS handleTime,
        UNIX_TIMESTAMP(ao.handle_time) AS completeTime,
        ao.remark,
        UNIX_TIMESTAMP(ao.create_time) AS createTime,
        UNIX_TIMESTAMP(ao.update_time) AS updateTime
        FROM abnormal_order ao
        LEFT JOIN order_list ol
        ON ao.order_code = ol.order_code COLLATE utf8mb4_unicode_ci
        LEFT JOIN charging_pile cp
        ON ol.pile_code = cp.pile_code COLLATE utf8mb4_unicode_ci
        LEFT JOIN charging_station cs
        ON cp.station_id = cs.id
        WHERE ao.deleted = 0
        AND ol.deleted = 0
        AND cp.deleted = 0
        AND cs.deleted = 0

        <if test="req.abnormalCode != null and req.abnormalCode != ''">
            AND ao.id LIKE CONCAT('%', #{req.abnormalCode}, '%')
        </if>
        <if test="req.orderCode != null and req.orderCode != ''">
            AND ao.order_code LIKE CONCAT('%', #{req.orderCode}, '%')
        </if>
        <if test="req.plateNo != null and req.plateNo != ''">
            AND ol.plate_no LIKE CONCAT('%', #{req.plateNo}, '%')
        </if>
        <if test="req.abnormalType != null and req.abnormalType != ''">
            AND ao.abnormal_type = #{req.abnormalType}
        </if>
        <if test="req.abnormalStatus != null and req.abnormalStatus != ''">
            AND ao.abnormal_status = #{req.abnormalStatus}
        </if>
        <if test="req.startTime != null">
            AND ao.create_time &gt;= #{req.startTime}
        </if>
        <if test="req.endTime != null">
            AND ao.create_time &lt;= #{req.endTime}
        </if>

        ORDER BY ao.id DESC
    </select>

</mapper>