<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.facility.dal.mysql.syswarn.SysWarnMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <resultMap id="SysWarnResultMap"
               type="cn.iocoder.yudao.module.facility.dal.dataobject.syswarn.SysWarnDO">

        <id column="id" property="id"/>
        <result column="warn_no" property="warnNo"/>
        <result column="facility_id" property="facilityId"/>
        <result column="facility_name" property="facilityName"/>
        <result column="facility_code" property="facilityCode"/>
        <result column="work_order_id" property="workOrderId"/>
        <result column="work_order_code" property="workOrderCode"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_code" property="deviceCode"/>
        <result column="monitor_id" property="monitorId"/>
        <result column="monitor_code" property="monitorCode"/>
        <result column="status" property="status"/>
        <result column="assign_status" property="assignStatus"/>
        <result column="facility_type" property="facilityType"/>
        <result column="type" property="type"/>
        <result column="way_type" property="wayType"/>
        <result column="level" property="level"/>
        <result column="trigger_time" property="triggerTime"/>
        <result column="deal_limit" property="dealLimit"/>
        <result column="over_index" property="overIndex"/>
        <result column="over_value" property="overValue"/>
        <result column="threshold_value" property="thresholdValue"/>
        <result column="confirm_opinion" property="confirmOpinion"/>
        <result column="invalid_reason" property="invalidReason"/>
        <result column="suggest" property="suggest"/>
        <result column="create_time" property="createTime"/>
        <result column="ext_common1" property="extCommon1"/>
        <result column="ext_common2" property="extCommon2"/>
        <result column="ext_common3" property="extCommon3"/>
        <result column="ext_common4" property="extCommon4"/>
    </resultMap>
    <select id="getSysWarnPage" resultType="cn.iocoder.yudao.module.facility.dal.dataobject.syswarn.SysWarnDO">
        SELECT *
        FROM sys_warn
        WHERE deleted = 0

        <if test="warnNo != null and warnNo != ''">
            AND warn_no LIKE CONCAT('%', #{warnNo}, '%')
        </if>

        <if test="facilityId != null">
            AND facility_id = #{facilityId}
        </if>

        <if test="facilityName != null and facilityName != ''">
            AND facility_name LIKE CONCAT('%', #{facilityName}, '%')
        </if>

        <if test="facilityCode != null and facilityCode != ''">
            AND facility_code = #{facilityCode}
        </if>

        <if test="workOrderId != null">
            AND work_order_id = #{workOrderId}
        </if>

        <if test="workOrderCode != null and workOrderCode != ''">
            AND work_order_code = #{workOrderCode}
        </if>

        <if test="deviceId != null">
            AND device_id = #{deviceId}
        </if>

        <if test="deviceCode != null and deviceCode != ''">
            AND device_code = #{deviceCode}
        </if>

        <if test="monitorId != null">
            AND monitor_id = #{monitorId}
        </if>

        <if test="monitorCode != null and monitorCode != ''">
            AND monitor_code = #{monitorCode}
        </if>

        <if test="status != null and status != ''">
            AND status = #{status}
        </if>

        <if test="assignStatus != null and assignStatus != ''">
            AND assign_status = #{assignStatus}
        </if>

        <if test="facilityType != null and facilityType != ''">
            AND facility_type = #{facilityType}
        </if>

        <if test="type != null and type != ''">
            AND type = #{type}
        </if>

        <if test="wayType != null and wayType != ''">
            AND way_type = #{wayType}
        </if>

        <if test="level != null">
            AND level = #{level}
        </if>

        <if test="triggerTime != null and triggerTime.length == 2">
            AND trigger_time BETWEEN #{triggerTime[0]} AND #{triggerTime[1]}
        </if>

        <if test="createTime != null and createTime.length == 2">
            AND create_time BETWEEN #{createTime[0]} AND #{createTime[1]}
        </if>

        ORDER BY create_time DESC
    </select>

</mapper>
