<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.studentmgmt.dal.mysql.dormcheck.DormCheckMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

<!--    宿舍考勤预警看板-->
    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `dorm_check`
        WHERE deleted =0
        <if test="startDateTime != null">
            AND check_time >= #{startDateTime}
            AND check_time <![CDATA[ <= ]]> #{endDateTime}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="abnormalType != null">
            AND abnormal_type = #{abnormalType}
        </if>
        <if test="checkStatus != null">
            AND check_status = #{checkStatus}
        </if>

    </select>

<!--    统计考勤异常数-->
    <select id="selectAbnormalCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `dorm_check`
        WHERE deleted =0
        <if test="startDateTime != null">
            AND check_time >= #{startDateTime}
            AND check_time <![CDATA[ <= ]]> #{endDateTime}
        </if>
        <if test="checkStatus != null">
            AND check_status != #{checkStatus}
        </if>

    </select>
    <select id="selectAbnormalCountByClassName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `dorm_check`
        WHERE deleted =0
        <if test="startDateTime != null">
            AND check_time >= #{startDateTime}
            AND check_time <![CDATA[ <= ]]> #{endDateTime}
        </if>
        <if test="checkStatus != null">
            AND check_status != #{checkStatus}
        </if>
        <if test="className != null">
            AND className = #{className}
        </if>
    </select>
    <select id="selectTotalCheckCount"
            resultType="cn.iocoder.yudao.module.studentmgmt.controller.admin.dormcheck.vo.DormCheckChartRespVO">
        SELECT
        COUNT(1) AS totalCheck,
        SUM(IF(check_status =  #{status}, 1, 0)) AS normalCount,
        SUM(IF(check_status !=  #{status}, 1, 0)) AS abnormalCount,
        ROUND(SUM(IF(check_status =  #{status}, 1, 0)) / COUNT(1), 2) AS inRate,
        SUM(IF(check_status !=  #{status}, 1, 0)) AS warningCount
        FROM `dorm_check`
        WHERE deleted =0
        <if test="checkTime != null">
            AND DATE_FORMAT(check_time,'%Y-%m-%d') = #{checkTime}
        </if>

    </select>
    <select id="getAbnormalStatsList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT abnormal_type, count(1) AS count FROM dorm_check
        WHERE deleted = 0 AND `status` = #{status}
        <if test="checkTime != null">
            AND DATE_FORMAT(check_time,'%Y-%m-%d') = #{checkTime}
        </if>
        GROUP BY abnormal_type
    </select>
    <select id="getCoreIndex" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            ROUND(SUM(IF(check_status = 0, 1, 0)) / COUNT(1),2) AS inRate,
            SUM(IF(check_status !=  0, 1, 0)) AS abnormalCount
        FROM dorm_check WHERE
        student_id IN (
            SELECT id FROM student_info WHERE class_name=#{className}
        )
        <if test="checkTime != null">
            AND DATE_FORMAT(check_time,'%Y-%m-%d') = #{checkTime}
        </if>

    </select>
</mapper>