<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.emergency.dashboard.global.overview.EmergOverviewMapper">

    <!--
        按省/市/县三级行政区划筛选的通用 SQL 片段。
        参数说明：
          - searchAreaCode : 前端传入的行政区划码（6位），用于搜索和判断省/市/县级。
          - areaColumn : 数据表中的行政区划编码字段(6位)（例如 dist_region、region_code 等）。
        使用方式：
                    <include refid="likeByAreaLevel">
                        <property name="areaColumn" value="LEFT(dist_region,6)"/>
                        <property name="searchAreaCode" value="#{regionShortCode}"/>
                    </include>
    -->
    <!-- 按省/市/县三级行政区划筛选的通用 SQL 片段 -->
    <sql id="likeByAreaLevel">
        <choose>
            <when test="regionShortCode != null and regionShortCode.endsWith('0000')">
                ${areaColumn} LIKE CONCAT(LEFT(${searchAreaCode},2),'%')
            </when>
            <when test="regionShortCode != null and regionShortCode.endsWith('00') and !regionShortCode.endsWith('0000')">
                ${areaColumn} LIKE CONCAT(LEFT(${searchAreaCode},4),'%')
            </when>
            <otherwise>
                ${areaColumn} = ${searchAreaCode}
            </otherwise>
        </choose>
    </sql>





    <select id="getEmergOverview"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.emergency.dashboard.global.overview.vo.EmergOverviewRespVO">
        SELECT
        -- 应急事件总数
        (SELECT IFNULL(SUM(total_rpt_count), 0)
            FROM stat_mon_evt_rpt
            <where>
                <if test="startDate != null">
                    AND stat_time &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    AND stat_time &lt;= #{endDate}
                </if>
                <if test="regionShortCode != null and regionShortCode != ''">
                    AND region_code = #{regionShortCode}
                </if>
            </where>
        ) AS total_evt_count,

        -- 在处置事件数
        (SELECT IFNULL(SUM(handl_count), 0)
            FROM stat_mon_evt_rpt
            <where>
                <if test="startDate != null">
                    AND stat_time &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    AND stat_time &lt;= #{endDate}
                </if>
                <if test="regionShortCode != null and regionShortCode != ''">
                    AND region_code = #{regionShortCode}
                </if>
            </where>
        ) AS handl_count,

        -- 已办结事件数
        (SELECT IFNULL(SUM(completed_count), 0)
            FROM stat_mon_evt_rpt
            <where>
                <if test="startDate != null">
                    AND stat_time &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    AND stat_time &lt;= #{endDate}
                </if>
                <if test="regionShortCode != null and regionShortCode != ''">
                    AND region_code = #{regionShortCode}
                </if>
            </where>
        ) AS completed_count,

        -- 应急资源总数
        (SELECT IFNULL(SUM(total_qty), 0)
            FROM biz_emerg_res
            <where>
                <if test="regionShortCode != null and regionShortCode != ''">
                    AND
                    <include refid="likeByAreaLevel">
                        <property name="areaColumn" value="LEFT(dist_region,6)"/>
                        <property name="searchAreaCode" value="#{regionShortCode}"/>
                    </include>
                </if>
            </where>
        ) AS total_res_count,

        -- 高风险隐患数
        (SELECT IFNULL(COUNT(*), 0)
            FROM biz_risk_hazard
            <where>
                <if test="regionShortCode != null and regionShortCode != ''">
                    <include refid="likeByAreaLevel">
                        <property name="areaColumn" value="LEFT(region_full_code,6)"/>
                        <property name="searchAreaCode" value="#{regionShortCode}"/>
                    </include>
                </if>
                <if test="startDate != null">
                    AND discover_time &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    AND discover_time &lt;= #{endDate}
                </if>

            </where>
        ) AS high_risk_count,

        -- 行政区划覆盖数(仅下一级)
        (SELECT IFNULL(COUNT(*), 0)
            FROM sys_area
            <where>
                <if test="regionShortCode != null and regionShortCode != ''">
                    parent_id = (SELECT id FROM sys_area WHERE short_code = #{regionShortCode})
                </if>
            </where>
        ) AS region_cover_count
    </select>



</mapper>
