<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.studentmgmt.dal.mysql.classassign.ClassAssignMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="select7dayTrendCount"
            resultType="cn.iocoder.yudao.module.studentmgmt.controller.admin.basevo.ChartTrendVO">
        SELECT
        DATE_FORMAT(assign_time, '%Y-%m-%d') AS date,
        COUNT(*) AS count
        FROM class_assign
        WHERE assign_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        GROUP BY date
    </select>
    <select id="selectTotalCount"
            resultType="cn.iocoder.yudao.module.studentmgmt.controller.admin.classassign.vo.ClassAssignChartRespVO">
        SELECT
        COUNT(*) AS total_assign_task_count,
        SUM(IF(status = #{assigned}, 1, 0)) AS assigned_count,
        SUM(IF(status = #{unassigned}, 1, 0)) AS unassigned_count,
        SUM(IF(status = #{assigned}, student_num, 0)) AS total_assigned_student_count
        FROM class_assign
        WHERE deleted=0
        <if test="startTime != null">
            AND assign_time between #{startTime} AND #{endTime}
        </if>
    </select>
</mapper>