<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.envirhealth.dal.mysql.urbanvillage.UrbanVillageMapper">

    <resultMap id="UrbanVillageDetailResultMap" type="cn.iocoder.yudao.module.envirhealth.dal.dataobject.urbanvillage.detail.UrbanVillageDetailDO">
        <id column="id" property="id"/>
        <result column="village_id" property="villageId"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="area_code" property="areaCode"/>
        <result column="responsibility_areas" property="responsibilityAreas"/>
        <result column="road_cleaning_frequency" property="roadCleaningFrequency"/>
        <result column="manager_id" property="managerId"/>
        <result column="operation_status_id" property="operationStatusId"/>
        <result column="cleaning_rate" property="cleaningRate"/>
        <result column="problem_rate" property="problemRate"/>
        <result column="review_pass_rate" property="reviewPassRate"/>
        <result column="assessment_score" property="assessmentScore"/>
        <result column="responsibility_area_name" property="responsibilityAreaName"/>
        <result column="cleaning_standard" property="cleaningStandard"/>
        <result column="staff_ids" property="staffIds"/>
        <result column="problem_location" property="problemLocation"/>
        <result column="problem_desc" property="problemDesc"/>
        <result column="report_by" property="reportBy"/>
        <result column="report_time" property="reportTime"/>
        <result column="problem_photo_url" property="problemPhotoUrl"/>
        <result column="dept_id" property="deptId"/>
        <result column="handle_by" property="handleBy"/>
        <result column="dispatch_time" property="dispatchTime"/>
        <result column="handle_status_id" property="handleStatusId"/>
        <result column="is_timeout" property="isTimeout"/>
        <result column="handle_desc" property="handleDesc"/>
        <result column="reform_photo_url" property="reformPhotoUrl"/>
        <result column="review_by" property="reviewBy"/>
        <result column="review_time" property="reviewTime"/>
        <result column="review_result_id" property="reviewResultId"/>
        <result column="review_opinion" property="reviewOpinion"/>
        <result column="ext_common1" property="extCommon1"/>
        <result column="ext_common2" property="extCommon2"/>
        <result column="ext_common3" property="extCommon3"/>
        <result column="ext_common4" property="extCommon4"/>
        <result column="plan_status_id" property="planStatusId"/>
        <result column="problem_type_id" property="problemTypeId"/>
        <result column="task_type_id" property="taskTypeId"/>

        <!-- 关联查询的额外字段 -->
        <result column="area_name" property="areaName"/>
        <result column="manager_name" property="managerName"/>
        <result column="operation_status_name" property="operationStatusName"/>
        <result column="staffs_name_str" property="staffsNameStr"/>
        <result column="report_name" property="reportName"/>
        <result column="dept_name" property="deptName"/>
        <result column="handle_name" property="handleName"/>
        <result column="handle_status_name" property="handleStatusName"/>
        <result column="review_name" property="reviewName"/>
        <result column="review_result_name" property="reviewResultName"/>
        <result column="plan_status_name" property="planStatusName"/>
        <result column="problem_type_name" property="problemTypeName"/>
        <result column="task_type_name" property="taskTypeName"/>
    </resultMap>

    <!-- 分页查询详情 -->
    <select id="selectDetailPage" resultMap="UrbanVillageDetailResultMap">
        SELECT
            uv.*,
            a.area_name AS area_name,
            u1.user_name AS manager_name,
            os.name AS operation_status_name,
            u2.user_name AS report_name,
            d.name AS dept_name,
            u3.user_name AS handle_name,
            hs.name AS handle_status_name,
            u4.user_name AS review_name,
            rr.review_result_name AS review_result_name,
            ps.name AS plan_status_name,
            pt.name AS problem_type_name,
            tt.name AS task_type_name,
            IFNULL(GROUP_CONCAT(DISTINCT u5.user_name), '') AS staffs_name_str
        FROM urban_village uv
                 LEFT JOIN sys_area a ON uv.area_code = a.area_code AND a.deleted = 0
                 LEFT JOIN sys_user u1 ON uv.manager_id = u1.user_id AND u1.deleted = 0
                 LEFT JOIN sys_operation_status os ON uv.operation_status_id = os.sys_operation_status_id AND os.deleted = 0
                 LEFT JOIN sys_user u2 ON uv.report_by = u2.user_id AND u2.deleted = 0
                 LEFT JOIN sys_dept d ON uv.dept_id = d.sys_dept_id AND d.deleted = 0
                 LEFT JOIN sys_user u3 ON uv.handle_by = u3.user_id AND u3.deleted = 0
                 LEFT JOIN sys_handle_status hs ON uv.handle_status_id = hs.sys_handle_status_id AND hs.deleted = 0
                 LEFT JOIN sys_user u4 ON uv.review_by = u4.user_id AND u4.deleted = 0
                 LEFT JOIN sys_review_result rr ON uv.review_result_id = rr.review_result_id AND rr.deleted = 0
                 LEFT JOIN sys_plan_status ps ON uv.plan_status_id = ps.sys_plan_status_id AND ps.deleted = 0
                 LEFT JOIN sys_problem_type pt ON uv.problem_type_id = pt.sys_problem_type_id AND pt.deleted = 0
                 LEFT JOIN sys_task_type tt ON uv.task_type_id = tt.sys_task_type_id AND tt.deleted = 0
            -- 处理负责人员JSON解析
                 LEFT JOIN sys_user u5 ON FIND_IN_SET(
                                                  u5.user_id,
                                                  REPLACE(REPLACE(REPLACE(REPLACE(uv.staff_ids, '[', ''), ']', ''), '"', ''), ' ', '')
                                          ) AND u5.deleted = 0
        WHERE uv.deleted = 0
        GROUP BY
            uv.id,
            a.area_name, u1.user_name, os.name, u2.user_name, d.name,
            u3.user_name, hs.name, u4.user_name, rr.review_result_name,
            ps.name, pt.name, tt.name
        ORDER BY uv.id DESC
        LIMIT #{reqVO.offset}, #{reqVO.pageSize}
    </select>

    <select id="selectCount" resultType="Long">
        SELECT COUNT(*)
        FROM urban_village uv
        WHERE uv.deleted = 0
    </select>


</mapper>