<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.envir.dal.mysql.park.ParkMapper">

    <resultMap id="ParkDetailResultMap"
               type="cn.iocoder.yudao.module.envir.dal.dataobject.park.ParkDetailDO">
        <id column="id" property="id"/>
        <result column="park_id" property="parkId"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="area_code" property="areaCode"/>
        <result column="cleaning_frequency" property="cleaningFrequency"/>
        <result column="green_type_ids" property="greenTypeIds"/>
        <result column="green_maintenance_cycle" property="greenMaintenanceCycle"/>
        <result column="facility_check_cycle" property="facilityCheckCycle"/>
        <result column="waste_transfer_frequency" property="wasteTransferFrequency"/>
        <result column="manager_id" property="managerId"/>
        <result column="abnormal_create_by" property="abnormalCreateBy"/>
        <result column="abnormal_create_time" property="abnormalCreateTime"/>
        <result column="abnormal_update_time" property="abnormalUpdateTime"/>
        <result column="cleaning_rate" property="cleaningRate"/>
        <result column="green_survival_rate" property="greenSurvivalRate"/>
        <result column="facility_rate" property="facilityRate"/>
        <result column="green_photo_url" property="greenPhotoUrl"/>
        <result column="facility_photo_url" property="facilityPhotoUrl"/>
        <result column="ext_common1" property="extCommon1"/>
        <result column="ext_common2" property="extCommon2"/>
        <result column="ext_common3" property="extCommon3"/>
        <result column="ext_common4" property="extCommon4"/>

        <result column="area_name" property="areaName"/>
        <result column="user_name" property="managerName"/>
    </resultMap>

    <select id="selectListDetail" resultMap="ParkDetailResultMap">
        SELECT
            p.*,
            a.area_name AS area_name,
            u.user_name AS user_name
        FROM park p
                 LEFT JOIN sys_area a ON p.area_code = a.area_code AND a.deleted = 0
                 LEFT JOIN sys_user u ON p.manager_id = u.user_id AND u.deleted = 0
        WHERE p.deleted = 0
        ORDER BY p.id DESC
    </select>
</mapper>