<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.lawenf.dashboard.global.coremetrics.LawCoreMetricsMapper">

    <select id="getLawCoreMetrics"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.lawenf.dashboard.global.coremetrics.vo.LawCoreMetricsRespVO">
        select
            (
                select ifnull(avg(avg_case_handle_time),0)
                from stat_law_enf_case
                <where>
                    <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.statTimeSearch">
                        <property name="stat_time_col" value="stat_time"/>
                    </include>
                </where>

            )as avg_case_handle_time,

            (
                select ifnull(avg(repeat_rpt_rate),0)
                from stat_law_enf_case
                <where>
                    <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.statTimeSearch">
                        <property name="stat_time_col" value="stat_time"/>
                    </include>
                </where>
            ) as repeat_rpt_rate,

            (
                select ifnull(avg(law_compliance_rate),0)
                from stat_law_enf_std
                <where>
                    <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.statTimeSearch">
                        <property name="stat_time_col" value="stat_time"/>
                    </include>
                </where>
            ) as law_compliance_rate,

            (
                select ifnull(avg(cross_dept_coop_rate),0)
                from stat_law_enf_coop
                <where>
                    <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.statTimeSearch">
                        <property name="stat_time_col" value="stat_time"/>
                    </include>
                </where>
            ) as cross_dept_coop_rate
    </select>

</mapper>
