<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.stationresource.dal.mysql.stationresource.rulecontrol.chargeparklink.ChargeParkLinkMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <select id="selectCardData" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.chargeparklink.vo.ops.ChargeParkLinkChartRespVO$CardDataVO">
        SELECT IFNULL(SUM(today_order_count), 0) AS todayOrderCount,
               IFNULL(SUM(today_income), 0)      AS todayIncome,
               IFNULL(AVG(pay_rate), 0)         AS payRate
        FROM charge_park_link
        WHERE deleted = 0
    </select>

    <select id="selectDiscountLineList" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.chargeparklink.vo.ops.ChargeParkLinkChartRespVO$DiscountLineVO">
        SELECT DATE_FORMAT(create_time, '%Y-%m') date,
               COUNT(*)                         useCount
        FROM charge_park_link
        WHERE deleted = 0
        GROUP BY DATE_FORMAT(create_time, '%Y-%m')
        ORDER BY date
    </select>

    <select id="selectOrderBarList" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.chargeparklink.vo.ops.ChargeParkLinkChartRespVO$OrderBarVO">
        SELECT s.name        AS name,
               IFNULL(SUM(c.today_order_count), 0) AS value
        FROM charge_park_link c
                 LEFT JOIN station_info s ON c.station_id = s.id
        WHERE c.deleted = 0
        GROUP BY c.station_id, s.name
    </select>
    <select id="getPage" resultType="cn.iocoder.yudao.module.stationresource.controller.admin.stationresource.rulecontrol.chargeparklink.vo.ChargeParkLinkRespVO">
        SELECT t.*, s.name AS station_name, u.nickname AS audit_user_name
        FROM charge_park_link t
        LEFT JOIN station_info s ON t.station_id = s.id
        LEFT JOIN station_user u ON t.audit_user_id = u.id
        WHERE t.deleted = 0
        <if test="pageReqVO.stationId != null">
            AND t.station_id = #{pageReqVO.stationId}
        </if>
        <if test="pageReqVO.stationName != null and pageReqVO.stationName != ''">
            AND s.name LIKE CONCAT('%', #{pageReqVO.stationName}, '%')
        </if>
        <if test="pageReqVO.discountType != null and pageReqVO.discountType != ''">
            AND t.discount_type = #{pageReqVO.discountType}
        </if>
        <if test="pageReqVO.discount != null">
            AND t.discount = #{pageReqVO.discount}
        </if>
        <if test="pageReqVO.carType != null and pageReqVO.carType != ''">
            AND t.car_type = #{pageReqVO.carType}
        </if>
        <if test="pageReqVO.status != null and pageReqVO.status != ''">
            AND t.status = #{pageReqVO.status}
        </if>
        <if test="pageReqVO.auditTime != null and pageReqVO.auditTime.size() == 2">
            AND t.audit_time BETWEEN #{pageReqVO.auditTime[0]} AND #{pageReqVO.auditTime[1]}
        </if>
        <if test="pageReqVO.auditUserId != null">
            AND t.audit_user_id = #{pageReqVO.auditUserId}
        </if>
        <if test="pageReqVO.auditUserName != null and pageReqVO.auditUserName != ''">
            AND u.nickname LIKE CONCAT('%', #{pageReqVO.auditUserName}, '%')
        </if>
        <if test="pageReqVO.todayOrderCount != null">
            AND t.today_order_count = #{pageReqVO.todayOrderCount}
        </if>
        <if test="pageReqVO.todayIncome != null">
            AND t.today_income = #{pageReqVO.todayIncome}
        </if>
        <if test="pageReqVO.payRate != null">
            AND t.pay_rate = #{pageReqVO.payRate}
        </if>
        <if test="pageReqVO.remark != null and pageReqVO.remark != ''">
            AND t.remark = #{pageReqVO.remark}
        </if>
        <if test="pageReqVO.reserve1 != null and pageReqVO.reserve1 != ''">
            AND t.reserve1 = #{pageReqVO.reserve1}
        </if>
        <if test="pageReqVO.reserve2 != null and pageReqVO.reserve2 != ''">
            AND t.reserve2 = #{pageReqVO.reserve2}
        </if>
        <if test="pageReqVO.creator != null and pageReqVO.creator != ''">
            AND t.creator = #{pageReqVO.creator}
        </if>
        <if test="pageReqVO.updater != null and pageReqVO.updater != ''">
            AND t.updater = #{pageReqVO.updater}
        </if>
        <if test="pageReqVO.createTime != null and pageReqVO.createTime.size() == 2">
            AND t.create_time BETWEEN #{pageReqVO.createTime[0]} AND #{pageReqVO.createTime[1]}
        </if>
        <if test="pageReqVO.updateTime != null and pageReqVO.updateTime.size() == 2">
            AND t.update_time BETWEEN #{pageReqVO.updateTime[0]} AND #{pageReqVO.updateTime[1]}
        </if>
        ORDER BY t.id DESC
    </select>

</mapper>
