<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.studentmgmt.dal.mysql.dormcompare.DormCompareMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->


    <select id="selectTotalCompareCount"
            resultType="cn.iocoder.yudao.module.studentmgmt.controller.admin.dormcompare.vo.DormCompareChartRespVO">
        SELECT
            COUNT(1) AS totalCompare,
            AVG(score) AS avgScore,
            MAX(score) AS highScore,
            MIN(score) AS lowScore
        FROM
            dorm_compare
        WHERE
            deleted = 0
            <if test="cycle != null and cycle != ''">
                AND cycle = #{cycle}
            </if>
    </select>
    <select id="selectDormStats" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        dorm_num as dormNum, score,rank_no as 'rank'
        FROM
            dorm_compare
        WHERE
            deleted = 0
            <if test="cycle != null and cycle != ''">
                AND cycle = #{cycle}
            </if>
    </select>
    <select id="selectTotalCompareCountTop10" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        dorm_num as dormNum, score,rank_no as 'rank'
        FROM
        dorm_compare
        WHERE
        deleted = 0
        <if test="cycle != null and cycle != ''">
            AND cycle = #{cycle}
        </if>
        ORDER BY rank_no
        LIMIT 10
    </select>
</mapper>