<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.culturesportstourism.dpzl.coreindicators.CoreIndicatorsMapper">

    <!-- 查询文旅资源总数 -->
    <select id="selectTotalSceneCount" resultType="java.lang.Integer">
        SELECT SUM(total_scene_count)
        FROM stat_app_scene_rpt
        WHERE stat_cycle = #{timeCycle}
    </select>

    <!-- 查询当日客流峰值 -->
    <select id="selectMaxCount" resultType="java.lang.Integer">
        SELECT MAX(max_count)
        FROM stat_mon_evt_rpt
        WHERE stat_cycle = #{timeCycle}
    </select>

    <!-- 查询投诉办结率 -->
    <select id="selectCompleteRate" resultType="java.lang.Double">
        SELECT AVG(complete_rate)
        FROM stat_mng_matter_rpt
        WHERE stat_cycle = #{timeCycle}
    </select>

    <!-- 查询设施完好率 -->
    <select id="selectFacilityGoodRate" resultType="java.lang.Double">
        SELECT SUM(normal_comp_count) / SUM(total_comp_count) * 100
        FROM stat_mon_comp_rpt
        WHERE stat_cycle = #{timeCycle}
          AND total_comp_count > 0
    </select>

    <!-- 查询活动开展数 -->
    <select id="selectNewSceneCount" resultType="java.lang.Integer">
        SELECT SUM(new_scene_count)
        FROM stat_app_scene_rpt
        WHERE stat_cycle = #{timeCycle}
    </select>
</mapper>