/*
 Yudao Database Transfer Tool

 Source Server Type    : MySQL

 Target Server Type    : DM8

 Date: 2025-04-09 15:56:07
*/


-- ----------------------------
-- Table structure for bpm_category
-- ----------------------------
CREATE TABLE bpm_category (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    name varchar(30) DEFAULT '' NULL,
    code varchar(30) DEFAULT '' NULL,
    description varchar(255) DEFAULT '' NULL,
    status smallint DEFAULT NULL NULL,
    sort int DEFAULT NULL NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_category.id IS '分类编号';
COMMENT ON COLUMN bpm_category.name IS '分类名';
COMMENT ON COLUMN bpm_category.code IS '分类标志';
COMMENT ON COLUMN bpm_category.description IS '分类描述';
COMMENT ON COLUMN bpm_category.status IS '分类状态';
COMMENT ON COLUMN bpm_category.sort IS '分类排序';
COMMENT ON COLUMN bpm_category.creator IS '创建者';
COMMENT ON COLUMN bpm_category.create_time IS '创建时间';
COMMENT ON COLUMN bpm_category.updater IS '更新者';
COMMENT ON COLUMN bpm_category.update_time IS '更新时间';
COMMENT ON COLUMN bpm_category.deleted IS '是否删除';
COMMENT ON COLUMN bpm_category.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_category IS 'BPM 流程分类';

-- ----------------------------
-- Table structure for bpm_form
-- ----------------------------
CREATE TABLE bpm_form (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    name varchar(64)  NOT NULL,
    status smallint  NOT NULL,
    conf varchar(1000)  NOT NULL,
    fields varchar(5000)  NOT NULL,
    remark varchar(255) DEFAULT NULL NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_form.id IS '编号';
COMMENT ON COLUMN bpm_form.name IS '表单名';
COMMENT ON COLUMN bpm_form.status IS '开启状态';
COMMENT ON COLUMN bpm_form.conf IS '表单的配置';
COMMENT ON COLUMN bpm_form.fields IS '表单项的数组';
COMMENT ON COLUMN bpm_form.remark IS '备注';
COMMENT ON COLUMN bpm_form.creator IS '创建者';
COMMENT ON COLUMN bpm_form.create_time IS '创建时间';
COMMENT ON COLUMN bpm_form.updater IS '更新者';
COMMENT ON COLUMN bpm_form.update_time IS '更新时间';
COMMENT ON COLUMN bpm_form.deleted IS '是否删除';
COMMENT ON COLUMN bpm_form.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_form IS 'BPM 表单定义表';

-- ----------------------------
-- Table structure for bpm_oa_leave
-- ----------------------------
CREATE TABLE bpm_oa_leave (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    user_id bigint  NOT NULL,
    type smallint  NOT NULL,
    reason varchar(200)  NOT NULL,
    start_time datetime  NOT NULL,
    end_time datetime  NOT NULL,
    day smallint  NOT NULL,
    status smallint  NOT NULL,
    process_instance_id varchar(64) DEFAULT NULL NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_oa_leave.id IS '请假表单主键';
COMMENT ON COLUMN bpm_oa_leave.user_id IS '申请人的用户编号';
COMMENT ON COLUMN bpm_oa_leave.type IS '请假类型';
COMMENT ON COLUMN bpm_oa_leave.reason IS '请假原因';
COMMENT ON COLUMN bpm_oa_leave.start_time IS '开始时间';
COMMENT ON COLUMN bpm_oa_leave.end_time IS '结束时间';
COMMENT ON COLUMN bpm_oa_leave.day IS '请假天数';
COMMENT ON COLUMN bpm_oa_leave.status IS '审批结果';
COMMENT ON COLUMN bpm_oa_leave.process_instance_id IS '流程实例的编号';
COMMENT ON COLUMN bpm_oa_leave.creator IS '创建者';
COMMENT ON COLUMN bpm_oa_leave.create_time IS '创建时间';
COMMENT ON COLUMN bpm_oa_leave.updater IS '更新者';
COMMENT ON COLUMN bpm_oa_leave.update_time IS '更新时间';
COMMENT ON COLUMN bpm_oa_leave.deleted IS '是否删除';
COMMENT ON COLUMN bpm_oa_leave.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_oa_leave IS 'OA 请假申请表';

-- ----------------------------
-- Table structure for bpm_process_definition_info
-- ----------------------------
CREATE TABLE bpm_process_definition_info (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    process_definition_id varchar(64)  NOT NULL,
    model_id varchar(64)  NOT NULL,
    model_type smallint DEFAULT 10 NOT NULL,
    category varchar(64)  NOT NULL,
    icon varchar(512) DEFAULT NULL NULL,
    description varchar(255) DEFAULT NULL NULL,
    form_type smallint  NOT NULL,
    form_id bigint DEFAULT NULL NULL,
    form_conf varchar(1000) DEFAULT NULL NULL,
    form_fields varchar(5000) DEFAULT NULL NULL,
    form_custom_create_path varchar(255) DEFAULT NULL NULL,
    form_custom_view_path varchar(255) DEFAULT NULL NULL,
    simple_model text  NULL,
    sort bigint DEFAULT 0 NULL,
    visible bit DEFAULT '1' NOT NULL,
    start_user_ids varchar(256) DEFAULT NULL NULL,
    start_dept_ids varchar(256) DEFAULT NULL NULL,
    manager_user_ids varchar(256) DEFAULT NULL NULL,
    allow_cancel_running_process bit DEFAULT '1' NOT NULL,
    process_id_rule varchar(255) DEFAULT NULL NULL,
    auto_approval_type smallint DEFAULT 0 NOT NULL,
    title_setting varchar(512) DEFAULT NULL NULL,
    summary_setting varchar(512) DEFAULT NULL NULL,
    process_before_trigger_setting varchar(1024) DEFAULT NULL NULL,
    process_after_trigger_setting varchar(1024) DEFAULT NULL NULL,
    task_before_trigger_setting varchar(1024) DEFAULT NULL NULL,
    task_after_trigger_setting varchar(1024) DEFAULT NULL NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_process_definition_info.id IS '编号';
COMMENT ON COLUMN bpm_process_definition_info.process_definition_id IS '流程定义的编号';
COMMENT ON COLUMN bpm_process_definition_info.model_id IS '流程模型的编号';
COMMENT ON COLUMN bpm_process_definition_info.model_type IS '流程模型的类型';
COMMENT ON COLUMN bpm_process_definition_info.category IS '流程分类的编码';
COMMENT ON COLUMN bpm_process_definition_info.icon IS '图标';
COMMENT ON COLUMN bpm_process_definition_info.description IS '描述';
COMMENT ON COLUMN bpm_process_definition_info.form_type IS '表单类型';
COMMENT ON COLUMN bpm_process_definition_info.form_id IS '表单编号';
COMMENT ON COLUMN bpm_process_definition_info.form_conf IS '表单的配置';
COMMENT ON COLUMN bpm_process_definition_info.form_fields IS '表单项的数组';
COMMENT ON COLUMN bpm_process_definition_info.form_custom_create_path IS '自定义表单的提交路径';
COMMENT ON COLUMN bpm_process_definition_info.form_custom_view_path IS '自定义表单的查看路径';
COMMENT ON COLUMN bpm_process_definition_info.simple_model IS 'SIMPLE 设计器模型数据 JSON 格式';
COMMENT ON COLUMN bpm_process_definition_info.sort IS '排序值';
COMMENT ON COLUMN bpm_process_definition_info.visible IS '是否可见';
COMMENT ON COLUMN bpm_process_definition_info.start_user_ids IS '可发起用户编号数组';
COMMENT ON COLUMN bpm_process_definition_info.start_dept_ids IS '可发起部门编号数组';
COMMENT ON COLUMN bpm_process_definition_info.manager_user_ids IS '可管理用户编号数组';
COMMENT ON COLUMN bpm_process_definition_info.allow_cancel_running_process IS '是否允许撤销审批中的申请';
COMMENT ON COLUMN bpm_process_definition_info.process_id_rule IS '流程 ID 规则';
COMMENT ON COLUMN bpm_process_definition_info.auto_approval_type IS '自动去重类型';
COMMENT ON COLUMN bpm_process_definition_info.title_setting IS '标题设置';
COMMENT ON COLUMN bpm_process_definition_info.summary_setting IS '摘要设置';
COMMENT ON COLUMN bpm_process_definition_info.process_before_trigger_setting IS '流程前置通知设置';
COMMENT ON COLUMN bpm_process_definition_info.process_after_trigger_setting IS '流程后置通知设置';
COMMENT ON COLUMN bpm_process_definition_info.task_before_trigger_setting IS '任务前置通知设置';
COMMENT ON COLUMN bpm_process_definition_info.task_after_trigger_setting IS '任务后置通知设置';
COMMENT ON COLUMN bpm_process_definition_info.creator IS '创建者';
COMMENT ON COLUMN bpm_process_definition_info.create_time IS '创建时间';
COMMENT ON COLUMN bpm_process_definition_info.updater IS '更新者';
COMMENT ON COLUMN bpm_process_definition_info.update_time IS '更新时间';
COMMENT ON COLUMN bpm_process_definition_info.deleted IS '是否删除';
COMMENT ON COLUMN bpm_process_definition_info.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_process_definition_info IS 'BPM 流程定义的信息表';

-- ----------------------------
-- Records of bpm_process_definition_info
-- ----------------------------
-- @formatter:off
SET IDENTITY_INSERT bpm_process_definition_info ON;
COMMIT;
SET IDENTITY_INSERT bpm_process_definition_info OFF;
-- @formatter:on

-- ----------------------------
-- Table structure for bpm_process_expression
-- ----------------------------
CREATE TABLE bpm_process_expression (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    name varchar(64) DEFAULT '' NULL,
    status smallint  NOT NULL,
    expression varchar(1024)  NOT NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_process_expression.id IS '编号';
COMMENT ON COLUMN bpm_process_expression.name IS '表达式名字';
COMMENT ON COLUMN bpm_process_expression.status IS '表达式状态';
COMMENT ON COLUMN bpm_process_expression.expression IS '表达式';
COMMENT ON COLUMN bpm_process_expression.creator IS '创建者';
COMMENT ON COLUMN bpm_process_expression.create_time IS '创建时间';
COMMENT ON COLUMN bpm_process_expression.updater IS '更新者';
COMMENT ON COLUMN bpm_process_expression.update_time IS '更新时间';
COMMENT ON COLUMN bpm_process_expression.deleted IS '是否删除';
COMMENT ON COLUMN bpm_process_expression.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_process_expression IS 'BPM 流程表达式表';

-- ----------------------------
-- Records of bpm_process_expression
-- ----------------------------
-- @formatter:off
SET IDENTITY_INSERT bpm_process_expression ON;
INSERT INTO bpm_process_expression (id, name, status, expression, creator, create_time, updater, update_time, deleted, tenant_id) VALUES (116, '测试表达式', 0, 'cn.iocoder.yudao.module.bpm.framework.flowable.core.listener.demo.exection.DemoDelegateClassExecutionListener', '1', '2024-03-23 15:13:20', '1', '2024-03-09 22:37:51', '1', 1);
INSERT INTO bpm_process_expression (id, name, status, expression, creator, create_time, updater, update_time, deleted, tenant_id) VALUES (118, '测试任务监听器', 0, 'cn.iocoder.yudao.module.bpm.framework.flowable.core.listener.demo.task.DemoDelegateClassTaskListener', '1', '2024-03-23 19:13:15', '1', '2024-03-09 22:36:44', '1', 1);
COMMIT;
SET IDENTITY_INSERT bpm_process_expression OFF;
-- @formatter:on

-- ----------------------------
-- Table structure for bpm_process_instance_copy
-- ----------------------------
CREATE TABLE bpm_process_instance_copy (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    user_id bigint DEFAULT 0 NOT NULL,
    start_user_id bigint DEFAULT 0 NOT NULL,
    process_instance_id varchar(64) DEFAULT '' NULL,
    process_instance_name varchar(64) DEFAULT '' NULL,
    process_definition_id varchar(64)  NOT NULL,
    category varchar(64)  NOT NULL,
    activity_id varchar(64) DEFAULT '' NULL,
    activity_name varchar(64)  NOT NULL,
    task_id varchar(64) DEFAULT '' NULL,
    reason varchar(256) DEFAULT '' NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_process_instance_copy.id IS '编号';
COMMENT ON COLUMN bpm_process_instance_copy.user_id IS '用户编号，被抄送人';
COMMENT ON COLUMN bpm_process_instance_copy.start_user_id IS '发起流程的用户编号';
COMMENT ON COLUMN bpm_process_instance_copy.process_instance_id IS '流程实例的编号';
COMMENT ON COLUMN bpm_process_instance_copy.process_instance_name IS '流程实例的名字';
COMMENT ON COLUMN bpm_process_instance_copy.process_definition_id IS '流程定义的编号';
COMMENT ON COLUMN bpm_process_instance_copy.category IS '流程定义的分类';
COMMENT ON COLUMN bpm_process_instance_copy.activity_id IS '流程活动的编号';
COMMENT ON COLUMN bpm_process_instance_copy.activity_name IS '流程活动的名字';
COMMENT ON COLUMN bpm_process_instance_copy.task_id IS '流程任务的编号';
COMMENT ON COLUMN bpm_process_instance_copy.reason IS '抄送意见';
COMMENT ON COLUMN bpm_process_instance_copy.creator IS '创建者';
COMMENT ON COLUMN bpm_process_instance_copy.create_time IS '创建时间';
COMMENT ON COLUMN bpm_process_instance_copy.updater IS '更新者';
COMMENT ON COLUMN bpm_process_instance_copy.update_time IS '更新时间';
COMMENT ON COLUMN bpm_process_instance_copy.deleted IS '是否删除';
COMMENT ON COLUMN bpm_process_instance_copy.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_process_instance_copy IS 'BPM 流程实例抄送表';

-- ----------------------------
-- Table structure for bpm_process_listener
-- ----------------------------
CREATE TABLE bpm_process_listener (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    name varchar(30) DEFAULT '' NULL,
    type varchar(255)  NOT NULL,
    status smallint  NOT NULL,
    event varchar(30) DEFAULT '' NULL,
    value_type varchar(64) DEFAULT '' NULL,
    value varchar(1024)  NOT NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_process_listener.id IS '编号';
COMMENT ON COLUMN bpm_process_listener.name IS '监听器名字';
COMMENT ON COLUMN bpm_process_listener.type IS '监听器类型';
COMMENT ON COLUMN bpm_process_listener.status IS '监听器状态';
COMMENT ON COLUMN bpm_process_listener.event IS '监听事件';
COMMENT ON COLUMN bpm_process_listener.value_type IS '监听器值类型';
COMMENT ON COLUMN bpm_process_listener.value IS '监听器值';
COMMENT ON COLUMN bpm_process_listener.creator IS '创建者';
COMMENT ON COLUMN bpm_process_listener.create_time IS '创建时间';
COMMENT ON COLUMN bpm_process_listener.updater IS '更新者';
COMMENT ON COLUMN bpm_process_listener.update_time IS '更新时间';
COMMENT ON COLUMN bpm_process_listener.deleted IS '是否删除';
COMMENT ON COLUMN bpm_process_listener.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_process_listener IS 'BPM 流程监听器表';

-- ----------------------------
-- Table structure for bpm_user_group
-- ----------------------------
CREATE TABLE bpm_user_group (
    id bigint NOT NULL PRIMARY KEY IDENTITY,
    name varchar(30) DEFAULT '' NULL,
    description varchar(255) DEFAULT '' NULL,
    user_ids varchar(1024) DEFAULT NULL NULL,
    status smallint  NOT NULL,
    creator varchar(64) DEFAULT '' NULL,
    create_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updater varchar(64) DEFAULT '' NULL,
    update_time datetime DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted bit DEFAULT '0' NOT NULL,
    tenant_id bigint DEFAULT 0 NOT NULL
);

COMMENT ON COLUMN bpm_user_group.id IS '编号';
COMMENT ON COLUMN bpm_user_group.name IS '组名';
COMMENT ON COLUMN bpm_user_group.description IS '描述';
COMMENT ON COLUMN bpm_user_group.user_ids IS '成员编号数组';
COMMENT ON COLUMN bpm_user_group.status IS '状态（0正常 1停用）';
COMMENT ON COLUMN bpm_user_group.creator IS '创建者';
COMMENT ON COLUMN bpm_user_group.create_time IS '创建时间';
COMMENT ON COLUMN bpm_user_group.updater IS '更新者';
COMMENT ON COLUMN bpm_user_group.update_time IS '更新时间';
COMMENT ON COLUMN bpm_user_group.deleted IS '是否删除';
COMMENT ON COLUMN bpm_user_group.tenant_id IS '租户编号';
COMMENT ON TABLE bpm_user_group IS 'BPM 用户组表';

