<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.evaluate.dal.mysql.standardcategory.StandardCategoryMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
    -->

    <!-- 联表分页查询结果映射 -->
    <resultMap id="StandardCategoryRespVOResultMap" type="cn.iocoder.yudao.module.evaluate.controller.admin.standardcategory.vo.StandardCategoryRespVO">
        <!-- 主表字段 -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="system_id" property="systemId"/>
        <result column="item_count" property="itemCount"/>
        <result column="status_id" property="statusId"/>
        <result column="last_use_time" property="lastUseTime"/>
        <result column="use_count" property="useCount"/>
        <result column="biz_create_time" property="bizCreateTime"/>
        <result column="biz_update_time" property="bizUpdateTime"/>
        <result column="change_log" property="changeLog"/>
        <result column="ext_common1" property="extCommon1"/>
        <result column="ext_common2" property="extCommon2"/>
        <result column="ext_common3" property="extCommon3"/>
        <result column="ext_common4" property="extCommon4"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <!-- 关联字段 -->
        <result column="system_name" property="systemName"/>
        <result column="status_name" property="statusName"/>
        <result column="creator_name" property="creatorName"/>
        <result column="updater_name" property="updaterName"/>
    </resultMap>

    <!-- 联表分页查询 -->
    <select id="selectJoinPage" resultMap="StandardCategoryRespVOResultMap">
        SELECT
            esc.id,
            esc.name,
            esc.system_id,
            esc.item_count,
            esc.status_id,
            esc.last_use_time,
            esc.use_count,
            esc.biz_create_time,
            esc.biz_update_time,
            esc.change_log,
            esc.ext_common1,
            esc.ext_common2,
            esc.ext_common3,
            esc.ext_common4,
            esc.creator,
            esc.updater,
            esc.create_time,
            esc.update_time,
            eis.name AS system_name,
            ss.name AS status_name,
            creator_user.user_name AS creator_name,
            updater_user.user_name AS updater_name
        FROM eval_standard_category esc
        LEFT JOIN eval_index_system eis ON esc.system_id = eis.id AND eis.deleted = 0
        LEFT JOIN sys_status ss ON esc.status_id = ss.id AND ss.deleted = 0
        LEFT JOIN sys_user creator_user ON esc.creator = creator_user.user_id AND creator_user.deleted = 0
        LEFT JOIN sys_user updater_user ON esc.updater = updater_user.user_id AND updater_user.deleted = 0
        WHERE esc.deleted = 0
        <if test="reqVO.name != null and reqVO.name != ''">
            AND esc.name LIKE CONCAT('%', #{reqVO.name}, '%')
        </if>
        <if test="reqVO.systemName != null and reqVO.systemName != ''">
            AND eis.name LIKE CONCAT('%', #{reqVO.systemName}, '%')
        </if>
        <if test="reqVO.systemId != null">
            AND esc.system_id = #{reqVO.systemId}
        </if>
        <if test="reqVO.statusId != null">
            AND esc.status_id = #{reqVO.statusId}
        </if>
        <if test="reqVO.creator != null and reqVO.creator != ''">
            AND esc.creator = #{reqVO.creator}
        </if>
        <if test="reqVO.creatorName != null and reqVO.creatorName != ''">
            AND creator_user.user_name LIKE CONCAT('%', #{reqVO.creatorName}, '%')
        </if>
        <if test="reqVO.updater != null and reqVO.updater != ''">
            AND esc.updater = #{reqVO.updater}
        </if>
        <if test="reqVO.updaterName != null and reqVO.updaterName != ''">
            AND updater_user.user_name LIKE CONCAT('%', #{reqVO.updaterName}, '%')
        </if>
        <if test="reqVO.createTime != null and reqVO.createTime.length == 2">
            AND esc.create_time BETWEEN #{reqVO.createTime[0]} AND #{reqVO.createTime[1]}
        </if>
        <if test="reqVO.updateTime != null and reqVO.updateTime.length == 2">
            AND esc.update_time BETWEEN #{reqVO.updateTime[0]} AND #{reqVO.updateTime[1]}
        </if>
        ORDER BY esc.id DESC
    </select>

</mapper>